<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Find.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <Find.Properties.Settings>
            <setting name="DatapartCreationCall" serializeAs="String">
                <value>call Wigo4it.BizTalk.Bus.Core.AddDataPart</value>
            </setting>
            <setting name="DatapartUsageCall_Get" serializeAs="String">
                <value>call Wigo4it.BizTalk.Bus.Core.GetDataPart</value>
            </setting>
            <setting name="DefaultPath" serializeAs="String">
              <!--<value>C:\Div\BizTalk\DebugBestanden</value>-->  
              <value>C:\Div\BizTalk\GALO_en_ESB</value>
            </setting>
            <setting name="DefaultExtension" serializeAs="String">
                <value>odx</value>
            </setting>
            <setting name="PropertyCreationCall" serializeAs="String">
                <value>call Wigo4it.BizTalk.Bus.Core.SetProperty</value>
            </setting>
            <setting name="PropertyUsageCall" serializeAs="String">
                <value>call Wigo4it.BizTalk.Bus.Core.GetProperty</value>
            </setting>
            <setting name="DatapartUsageCall_Check" serializeAs="String">
                <value>call Wigo4it.BizTalk.Bus.Core.CheckDataPart</value>
            </setting>
            <setting name="DefaultCriteria_Test" serializeAs="String">
                <value>RaadpleegAfdelingResponse</value>
                <!--EwwbCodeVertalingCodelijsten-->
            </setting>
        </Find.Properties.Settings>
    </applicationSettings>
</configuration>
